
.cell {
  height: 50px;
  width: 50px;
  background-color: teal;
  position: absolute;
}

.cell-container {
  display: grid;

  grid-template-columns: 50px 50px 50px 50px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
}

.cell1 {
  background-color: red;
}
